<h2>Admin brokers</h2>

<div *ngIf="adminBrokers" class="admin-brokers-container">
    <div class="centerify">
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
            <tr *ngFor="let broker of adminBrokers">
                <td>{{broker.id}}</td>
                <td>{{broker.name}}</td>
                <td>{{broker.surname}}</td>
            </tr>
        </table>
    </div>

    <br>
    <div class="centerify">
        <button [routerLink]="'/admin/base'"><span>Back</span></button>
    </div>
</div>
