<h2>Client</h2>

<div class="client-base-container">
    <div class="buttons">
        <div class="centerify">
            <p>
                <button [routerLink]="'/client/info'"><span>Client information</span></button>
            </p>
            <p>
                <button (click)="brokerageAccount()"><span>Brokerage account</span></button>
            </p>
        </div>
        <div class="centerify">
            <p>
                <button (click)="agreement()"><span>Agreement</span></button>
            </p>
            <p>
                <button [routerLink]="'/client/exchange'"><span>Exchange</span></button>
            </p>
        </div>
        <div class="centerify">
            <p>
                <button [routerLink]="'/client/requests'"><span>Requests</span></button>
            </p>
            <p>
                <button [routerLink]="'/client/transactions'"><span>Completed transactions</span></button>
            </p>
        </div>
        <p>
            <button (click)="signOut()"><span>Sign out</span></button>
        </p>
    </div>
</div>
