<h2>Client</h2>

<div class="client-base-container">
    <div *ngIf="client" class="buttons">
        <div class="centerify">
            <button [routerLink]="'/client/info'"><span>Client information</span></button>
            <button [class.disabled]="!client.passport"
                    (click)="brokerageAccount()">
                <span>Brokerage account</span>
            </button>
        </div>
        <br>
        <div class="centerify">
            <button [class.disabled]="!client.brokerageAccount"
                    (click)="agreement()">
                <span>Agreement</span>
            </button>

            <button [class.disabled]="!client.agreement"
                    [routerLink]="'/client/exchange'">
                <span>Exchange</span>
            </button>
        </div>
        <br>
        <div class="centerify">
            <button [class.disabled]="!client.agreement"
                    [routerLink]="'/client/requests'">
                <span>Requests</span>
            </button>
            <button [class.disabled]="!client.agreement"
                    [routerLink]="'/client/transactions'">
                <span>Completed transactions</span>
            </button>
        </div>
        <br>
        <div class="centerify">
            <button (click)="signOut()"><span>Sign out</span></button>
        </div>
    </div>
</div>
