<div class="broker-agreements-container">
    <div *ngIf="brokerAgreements" class="centerify">
        <table>
            <caption>Broker agreements</caption>
            <tr>
                <th>Id</th>
                <th>Client Id</th>
            </tr>
            <tr *ngFor="let agreement of brokerAgreements"
                (click)="onAgreementClick(agreement)">
                <td>{{agreement.id}}</td>
                <td>{{agreement.clientId}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/broker/base'"><span>Back</span></button>
    </div>
</div>
