<h2>Admin information</h2>

<div class="admin-info-container">
    <div class="centerify"><span>Name: </span> {{admin.name}} </div>
    <br>
    <div class="centerify"><span>Surname: </span> {{admin.surname}} </div>
    <br>
    <div class="centerify"><span>Person type: </span> {{admin.personType}} </div>
    <br>
    <div class="centerify"><span>Credentials</span></div>
    <br>
    <div class="centerify"><span>Login: </span> {{adminCredentials.login}} </div>
    <br>
    <div class="centerify"><span>Password: </span> {{adminCredentials.password}} </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/admin/base'"><span>Back</span></button>
    </div>
</div>
