<h2>Client requests</h2>

<div *ngIf="requests" class="client-requests-container">

    <div class="centerify">
        <table>
            <tr>
                <th>Id</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let request of requests" (click)="onRequestClicked(request)">
                <td>{{request.id}}</td>
                <td>{{request.status}}</td>
            </tr>
        </table>
    </div>

    <br>
    <div class="centerify">
        <button [routerLink]="'/client/base'"><span>Back</span></button>
    </div>
</div>
