<h2>Stock</h2>

<div *ngIf="stock" class="client-current-stock-container">

    <div class="centerify">
        <table>
            <tr>
                <th>Client Id</th>
                <th>Stock type</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <td>{{stock.clientId}}</td>
                <td>{{stock.stockType}}</td>
                <td>{{stock.quantity}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/client/stocks'"><span>Back</span></button>
    </div>
</div>
