<h2>Bank</h2>

<div *ngIf="bank" class="admin-bank-container">
    <div class="centerify">
        <table>
            <tr>
                <th>Type</th>
                <th>Quantity</th>
            </tr>
            <tr *ngFor="let bankRecord of bank">
                <td>{{bankRecord.type}}</td>
                <td>{{bankRecord.quantity}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/admin/base'"><span>Back</span></button>
    </div>
</div>
