<div class="signup-container">
    <h2>Sign Up</h2>
    <div class="info-container">
        <label for="login">Login</label>
        <input [(ngModel)]="login"
               type="text"
               placeholder="Enter Login"
               name="login"
               id="login"
               required>

        <label for="password">Password</label>
        <input [(ngModel)]="password"
               type="password"
               placeholder="Enter Password"
               name="password"
               id="password"
               required>

        <label for="psw-repeat">Repeat Password</label>
        <input [(ngModel)]="password_repeat"
               type="password"
               placeholder="Repeat Password"
               name="psw-repeat"
               id="psw-repeat"
               required>

        <label for="name">Name</label>
        <input [(ngModel)]="name"
               type="text"
               placeholder="Enter Name"
               name="name"
               id="name"
               required>

        <label for="surname">Surname</label>
        <input [(ngModel)]="surname"
               type="text"
               placeholder="Enter Surname"
               name="surname"
               id="surname"
               required>

        <label for="personType">Person type</label>
        <select [(ngModel)]="personType" name="personType" id="personType">
            <option value="client">client</option>
            <option value="broker">broker</option>
            <option value="admin">admin</option>
        </select>
    </div>

    <div class="button-container">
        <button (click)="signUp()" name="signup"><span>Sign Up</span></button>

        <button [routerLink]="''"><span>Back</span></button>
    </div>
</div>
