<h2>Brokerage account information</h2>

<div *ngIf="brokerageAccount" class="client-brokerage-account-open-container">
    <div class="centerify">
        <table>
            <tr>
                <th>Creation date</th>
            </tr>
            <tr>
                <td>{{brokerageAccount.creationDate}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/client/assets'"><span>Assets</span></button>
        <button [routerLink]="'/client/stocks'"><span>Stocks</span></button>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/client/putMoney'"><span>Put money</span></button>
    </div>
    <div class="centerify">
        <button [class.disabled]="client.agreement"
                (click)="closeBrokerageAccount()">
            <span>Close brokerage account</span>
        </button>
    </div>
    <div class="centerify">
        <button [routerLink]="'/client/base'"><span>Back</span></button>
    </div>
</div>
