<h2>Asset</h2>

<div *ngIf="asset" class="client-current-asset-container">

    <div class="centerify">
        <table>
            <tr>
                <th>Client id</th>
                <th>Currency</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <td>{{asset.clientId}}</td>
                <td>{{asset.type}}</td>
                <td>{{asset.quantity}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/client/assets'"><span>Back</span></button>
    </div>
</div>
