<h2>Transaction</h2>

<div *ngIf="clientTransaction" class="client-current-transaction-container">

    <div class="centerify">
        <table>
            <tr>
                <th>Date</th>
                <th>Admin id</th>
                <th>Client id</th>
                <th>Asset type</th>
                <th>Stock type</th>
            </tr>
            <tr>
                <td>{{clientTransaction.date}}</td>
                <td>{{clientTransaction.date}}</td>
                <td>{{clientTransaction.adminId}}</td>
                <td>{{clientTransaction.clientId}}</td>
                <td>{{clientTransaction.asset.type}}</td>
                <td>{{clientTransaction.stock.stockType}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/client/transactions'"><span>Back</span></button>
    </div>
</div>
