<h2>Broker</h2>

<div class="broker-common-container">
    <div class="centerify">
        <button [routerLink]="'/broker/info'"><span>Broker information</span></button>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/broker/requests'"><span>Requests</span></button>
        <button [routerLink]="'/broker/agreements'"><span>Agreements</span></button>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="''" (click)="signOut()"><span>Sign out</span></button>
    </div>
</div>
