<h2>Agreement</h2>

<div class="broker-current-agreement-container">
    <div *ngIf="brokerAgreement" class="centerify">
        <table>
            <caption>Broker agreements</caption>
            <tr>
                <th>Client Id</th>
                <th>Broker Id</th>
                <th>Validity</th>
                <th>Start date</th>
            </tr>
            <tr>
                <td>{{brokerAgreement.clientId}}</td>
                <td>{{brokerAgreement.brokerId}}</td>
                <td>{{brokerAgreement.validity}}</td>
                <td>{{brokerAgreement.startDate}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/broker/agreements'"><span>Back</span></button>
    </div>
</div>
