<h2>Client agreement information</h2>
<div *ngIf="agreement" class="client-agreement-open-container">
    <div class="centerify">
        <table>
            <tr>
                <th>Client id</th>
                <th>Broker id</th>
                <th>Validity</th>
                <th>Start date</th>
            </tr>
            <tr>
                <td>{{agreement.clientId}}</td>
                <td>{{agreement.brokerId}}</td>
                <td>{{agreement.validity}}</td>
                <td>{{agreement.startDate}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="centerify">
        <button (click)="breakBrokerAgreement()"><span>Break broker agreement</span></button>
        <button [routerLink]="'/client/agreement/extend'"><span>Extend broker agreement</span></button>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/client/base'"><span>Back</span></button>
    </div>
</div>
