<h2>Request</h2>

<div *ngIf="request" class="admin-current-request-container">
    <div class="centerify">
        <table>
            <tr>
                <th>Date</th>
                <th>Request type</th>
                <th>Broker id</th>
                <th>Client id</th>
                <th>Quantity</th>
                <th>From type</th>
                <th>From</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>{{request.date}}</td>
                <td>{{request.requestType}}</td>
                <td>{{request.brokerId}}</td>
                <td>{{request.clientId}}</td>
                <td>{{request.quantity}}</td>
                <td>{{request.fromType}}</td>
                <td>{{request.toType}}</td>
                <td>{{request.status}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="centerify">
        <button (click)="approve()"><span>Approve</span></button>
        <button (click)="decline()"><span>Decline</span></button>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/admin/requests'"><span>Back</span></button>
    </div>
</div>
