<h2>Broker information</h2>

<div *ngIf="broker" class="broker-info-container">
    <div class="centerify">
        <table>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Person type</th>
                <th>Admin id</th>
            </tr>
            <tr>
                <td>{{broker.name}}</td>
                <td>{{broker.surname}}</td>
                <td>{{broker.personType}}</td>
                <td>{{broker.adminId}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/broker/base'"><span>Back</span></button>
    </div>
</div>
