<h2>Client assets</h2>

<div class="client-assets-container">

    <div class="centerify">
        <table>
            <tr>
                <th>Id</th>
                <th>Type</th>
            </tr>
            <tr *ngFor="let asset of client.brokerageAccount.assets" (click)="onAssetClicked(asset)">
                <td>{{asset.id}}</td>
                <td>{{asset.type}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/client/brokerageAccount/info'"><span>Back</span></button>
    </div>
</div>
