<h2>Admin</h2>

<div *ngIf="adminId" class="admin-base-container">
    <div class="centerify">
        <button [routerLink]="'/admin/info'"><span>Admin information</span></button>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/admin/brokers'"><span>Brokers</span></button>
        <button [routerLink]="'/admin/requests'"><span>Requests</span></button>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/admin/rates'"><span>Rates</span></button>
        <button [routerLink]="'/admin/bank'"><span>Bank</span></button>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="''" (click)="signOut()"><span>Sign out</span></button>
    </div>
</div>
