<div class="client-info-container">
    <h2>Client information</h2>
    <div class="info">
        <p>
            <span><b>Name: </b></span> {{client.name}}
        </p>
        <p>
            <span><b>Surname: </b></span> {{client.surname}}
        </p>
        <p>
            <span><b>Person type: </b></span> {{client.personType}}
        </p>
        <br>
        <p>
            <span><b>Series: </b></span> {{clientPassport.series}}
        </p>
        <p>
            <span><b>Number: </b></span> {{clientPassport.number}}
        </p>
    </div>

    <div class="button-container">
        <p>
            <button [routerLink]="'/client/passport'">
                <span>Change passport</span>
            </button>
        </p>
        <br>
        <p>
            <button [routerLink]="'/client/base'">
                <span>Back</span>
            </button>
        </p>
    </div>
</div>
