<div *ngIf="!editMode">
    <h2>Client information</h2>

    <div class="client-info-container">

        <div *ngIf="client" class="centerify">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Person type</th>
                </tr>
                <tr>
                    <td>{{client.name}}</td>
                    <td>{{client.surname}}</td>
                    <td>{{client.personType}}</td>
                </tr>
            </table>
            <br>
        </div>
        <br>
        <div *ngIf="client.passport">
            <div class="centerify">
                <b>Passport</b>
            </div>
            <br>
            <div class="centerify">
                <table>
                    <tr>
                        <th>Series</th>
                        <th>Number</th>
                    </tr>
                    <tr>
                        <td>{{client.passport.series}}</td>
                        <td>{{client.passport.number}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <div class="centerify">
            <button (click)="editMode = true">
                <span>Change passport</span>
            </button>
        </div>
        <br>
        <div class="centerify">
            <button [routerLink]="'/client/base'">
                <span>Back</span>
            </button>
        </div>
    </div>
</div>

<client-passport *ngIf="editMode" [client]="client" (passportChanged)="editMode=false"></client-passport>
