<h2>Client stocks</h2>

<div *ngIf="stocks" class="client-stocks-container">

    <div class="centerify">
        <table>
            <tr>
                <th>Id</th>
                <th>Stock type</th>
            </tr>
            <tr *ngFor="let stock of stocks" (click)="onStockClicked(stock)">
                <td>{{stock.id}}</td>
                <td>{{stock.stockType}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="centerify">
        <button [routerLink]="'/client/brokerageAccount/info'"><span>Back</span></button>
    </div>
</div>
